{
  "commands": [
    {"command": "/sbin/lsmod",  "exclusion_pattern": ["usb"]},
    {"command": "/sbin/lspci"}
  ],
  "files": [
    {"file": "/etc/ssh/sshd_config", "exclusion_pattern": ["compression", "banner"]},
    {"file": "/etc/hosts"}, 
    {"file": "/var/log/redhat-access-insights/redhat-access-insights.log", "exclusion_pattern": []}
  ],
  "keywords": ["password", "giraffe", "moo"]
}
